.input-wrapper {
    position: relative;
    width: 100%;
    min-height: 4rem;
    margin: 0 auto 1rem;

    @include break-point(mobile) {
        min-height: 8rem;
    }

    .form-input {
        width: 60rem;
        border: none;
        padding: 1rem 1rem 1rem 3.5rem;
        border-radius: 2rem;
        max-width: 100%;
        background-color: var(--color-grey);

        @include break-point(mobile) {
            margin-bottom: 1rem;
        }

        &:focus,
		&.move-up {

			+.input-label {
				transform: translateY(-100%);
				font-size: 0;
			}
		}
    }

    .input-label {
        width: 100%;
        position: absolute;
        font-size: 1.2rem;
        line-height: 1.4rem;
        cursor: text;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include break-point(mobile) {
            flex-direction: column;
        }
    }
}