.form-wrapper {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .new-row {
                width: 100%;
                margin-bottom: 3rem;

                .input-wrapper {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
    
            .input-row {
                margin-bottom: 4rem;
            }
        }
    }

    .preview {
        margin: 2rem auto 1rem;
        width: 100%;
        min-height: 25rem;
        border: .2rem solid var(--color-grey);
        cursor: text;
        padding: 2rem;
    }

    .small {
        font-size: 1rem;
        line-height: 1.2rem;
        color: var(--color-red);
        text-align: left;
    }
}