html {
	font-size: 62.5%;
}

body {
	font-family: "Gotham", sans-serif;
    font-size: 1.4rem;
	line-height: 1.6rem;
	background: #4d367a;
	background: var(--linear-gradient-bg);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	cursor: pointer;
	color: var(--color-white);
}

span,
input,
textarea,
select,
dl,
sup,
button {
	font-family: "Gotham", sans-serif;
	font-weight: inherit;
	font-size: inherit;
}

svg {
	max-width: 100%;
	max-height: 100%;
}

section {
	position: relative;
	overflow: hidden;
}

.wrapper {
	width: 144rem;
	padding: 0 4rem;
	margin: 0 auto;
	z-index: 2;
	position: relative;

    @include break-point(tablet-landscape) {
		width: 100%;
		padding: 0 2rem;
	}
}


h1 {
    font-size: 16rem;
    line-height: 15rem;
    color: var(--color-white);
	text-align: center;
}

h2 {
    color: var(--color-gradient-bg);
    display: inline-block;
	background-image: var(--linear-gradient-bg);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 4rem;
    line-height: 4.4rem;
	font-weight: var(--font-weight-bold);
	text-align: center;
	margin-bottom: 3rem;
}

h3 {
    font-size: 2.2rem;
    line-height: 2rem;
	font-weight: var(--font-weight-medium);
    color: var(--color-grey);
	margin-bottom: 1.5rem;
}

h4 {
	font-size: 1.8rem;
    line-height: 2rem;
	font-weight: var(--font-weight-medium);
    color: var(--color-black);
	margin-bottom: 1rem;
}

p {
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--color-black);
}

.btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 1.5rem;

	&.small {
		background-color: transparent;
        color: var(--color-green);
        font-weight: var(--font-weight-bold);
        border: 0.2rem solid var(--color-green);
        padding: 0.5rem;
        text-transform: uppercase;
        font-size: 1rem;
        max-width: 12rem;
	}

	&.large {
		max-width: 25rem;
		margin: 0 auto;
		padding: 2rem 0;
		text-transform: uppercase;
		font-weight: var(--font-weight-bold);
		color: var(--color-white);
		background-color: var(--color-green);
	}

	&.clear {
		color: var(--color-white);
		background-color: transparent;
		border: 0.2rem solid var(--color-white);
	}
}


.container {

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2rem 0;
	}

	.wrapper {
		.text-blocks {
			background: #38549f;
			background: var(--linear-gradient-blocks);
			max-width: 52rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			padding: 3rem;
			position: relative;
			border-radius: 2rem;
			margin: 2rem auto 4rem;

			.blocks-wrap {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;

				.text-block {
					margin-bottom: 2rem;

					dt {
						font-size: 1.4rem;
						line-height: 1.6rem;
						font-weight: var(--font-weight-book);
					}
				}
			}
		}
	}
}