:root {
	// fonts
	--font-weight-light: 		300;
	--font-weight-book:      	normal;
	--font-weight-medium: 		500;
	--font-weight-bold: 	    bold;

	--color-white:				#ffffff;
	--color-black:				#2c2b2b;
	--color-red:   				#df1449;
	--color-grey: 				#f3f3f4;
	--color-green:   			#157f7b;

	--color-gradient-bg: 		#4d367a;
	--color-gradient-blocks:    #38549f;

	--linear-gradient-bg:       linear-gradient(90deg, rgba(77,54,122,1) 0%, rgba(24,146,175,1) 35%, rgba(79,123,206,1) 100%);
	--linear-gradient-blocks: 	linear-gradient(90deg, rgba(56,84,159,1) 0%, rgba(137,196,221,1) 35%, rgba(207,215,224,1) 100%);
}