:root {
	// fonts
	--font-weight-light: 		300;
	--font-weight-book:      	normal;
	--font-weight-medium: 		500;
	--font-weight-bold: 	    bold;

	--color-white:				#ffffff;
	--color-black:				#2c2b2b;
	--color-red:   				#df1449;
	--color-grey: 				#f3f3f4;
	--color-green:   			#157f7b;
}